[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/Cesar Arnouk (ciizz)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Cesar Arnouk (ciizz)
	label-Verified = -1..+1 group user/Cesar Arnouk (ciizz)
	push = group user/Cesar Arnouk (ciizz)
	read = group user/Cesar Arnouk (ciizz)
	rebase = group user/Cesar Arnouk (ciizz)
	removeReviewer = group user/Cesar Arnouk (ciizz)
	submit = group user/Cesar Arnouk (ciizz)
[access "refs/heads/*"]
	create = group user/Cesar Arnouk (ciizz)
	push = +force group user/Cesar Arnouk (ciizz)
	pushMerge = group user/Cesar Arnouk (ciizz)
	read = group user/Cesar Arnouk (ciizz)
[access "refs/tags/*"]
	push = group user/Cesar Arnouk (ciizz)
	push = +force group user/Cesar Arnouk (ciizz)
[reviewer]
	enableByEmail = true
[plugin "zuul-results-summary"]
	enabled = false
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
